# Data files - too large for GitHub
data/
*.csv
*.dat
data/

logs/
__pycache__/
*.pyc
pysparkenv/
*.parquet

# Python
__pycache__/
*.pyc
*.pyo
.env

# Config with credentials
config/pipeline.conf

# Virtual environment
venv/
env/

# VS Code
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/